.page{
  display: flex;
  flex-direction: column;
}
.profileholder{
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  flex-wrap: wrap;
}
.UserDescHolder {
  padding: 1rem;
  min-height: 50vh;
  width: 40vw;
  float: right;
  border: 2px solid black;
  margin: 1rem;
  border-radius: 12px;
  border-collapse: separate;
}
.UserDescHolder h1{
  margin: 0;
  padding: 0;
}
.UserDescHolder p{
  white-space: pre-line;
  font-size: 1.25rem;
}
.imageholder {
  width:20rem;
  height:20rem;
}

.UserProducelist {
padding-left: 5%;
}
.UserProducelist a {
  padding: 1rem;
  font-size: 1.25rem;
  border: 2px solid black;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 12px;
}

.UserProducelist a:hover {
  color: #808080;
}
.UserProducelist li a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline-style: none;
  border: none;
  color: black;
}
.UserProducelist ul {
  margin-top: 2rem;
  list-style-type: none;
  padding: 0;
}

.UserProducelist .deletebutton a{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: block;
  font-size: 1.25rem;
  border: 2px solid black;
  border-radius: 12px;
  text-decoration: none;
  background-color: white;
  width: 4rem;
  color: red;
}

.UserProducelist li{
  font-size: 1.5rem;
  background-color: white;
  padding: 1rem;
}
.UserProducelist li:nth-child(even){
  background-color: #c7c7c7;
}
.AccountContact{

}
.AccountContact ul{
  list-style-type: none;
  font-size: 1.25rem;
  padding: 0;
}
.SocialMedialist a{
  text-decoration: none;
  color: black;
}
.SocialMedialist ul{
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.SocialMedialist li a{
  border: 0px;
  border-style: none;
  padding: 0;
}
.SocialMedialist a{
  padding: 1rem;
  list-style-type: none;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 12px;
}
.SocialMedialist a:hover{
  color: #808080;
}
.imageholder{
  height: 300px;
  width: 300px;

}
.imageholder img{
  height: 100%;
  max-width: 100%;
}
